{% load static %}
{% load compress %}
{% load custom_filters %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% block title %}
        {% if page.title %}{{page.title|truncate_title:50}}{% else %}FilChat{% endif %}
    {% endblock %}
</title>

{# Tailwind CSS #}
<link rel="stylesheet" href="{% static 'css/output.css' %}">

{# Favicon #}
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

<!-- custom css compressé avec django-compressor -->
{% compress css %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endcompress %}

<!-- Balises meta supplémentaires -->
<meta name="description" content="FilChat - Découpez et archivez vos conversations">
{% block extra_head %}{% endblock %}