{% load static wagtailcore_tags wagtailuserbar %}
<nav class="navbar navbar-expand-lg shadow">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        {% get_site_root as site_root %}

        <a href="{% pageurl site_root %}">{{ site_root.title }}</a>

        {% for menuitem in site_root.get_children.live.in_menu %}        
            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>{% if not forloop.last %} | {% endif %}        
        {% endfor %}
    </div>
</nav>

