{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block bodyclass %}template-secretboxpage flex flex-col min-h-screen bg-gray-50{% endblock %}

{% block page_content %}
    

    <div class="container-fluid>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 col-sm-12 text-center mt-5">
                {% image page.image fill-80x80 %}
                {{ page.hero_text }}
                {% if page.hero_cta_link %}
                <a href="{% pageurl page.hero_cta_link %}">
                    {% firstof page.hero_cta page.hero_cta_link.title %}
                </a>
                {% endif %}
                <div class="text-5xl">{{ page.title }}</div>
                <div>{{ page.body|richtext }}</div>
            </div>
        </div>
    </div>


{% endblock %}